@use "../variables";


/* FRAME */
.frame-desktop {
  width: 1440px;
  height: 1120px;
  margin: 0 auto;
  background-color: #F5F5E6;
  padding: 20px 70px;
  display: flex;
  flex-direction: column;
}

/* CARTE QUESTIONNAIRE */
.question-card {
  width: 1120px;
  height: 659px;
  background-color: white;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* QUESTION */
.question-block p {
  font-size: 24px;
  margin-bottom: 27px; /* espace question → 1ère réponse */
}

/* RÉPONSES */
.answer-btn {
  width: 1080px;
  height: 40px;
  background-color: #D4DDA6; /* couleur initiale */
  border-radius: 8px;
  border: none;

  font-size: 24px;
  text-align: left;
  padding-left: 16px;

  margin-bottom: 24px; /* espacement réduit entre réponses */

  transition: background-color 0.2s ease;
  cursor: pointer;
}

/* supprimer l’espace sous la dernière réponse */
.question-block .answer-btn:last-child {
  margin-bottom: 0;
}

/* HOVER */
.answer-btn:hover {
  background-color: #B0D193;
}

/* ACTIVE */
.answer-btn.active {
  background-color: #9DB37C;
  font-weight: 600;
}

/* BOUTON SUIVANT */
.btn-next {
  width: 118px;
  height: 44px;
  background-color: #9DB37C;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-next:hover {
  background-color: #7F9C60;
}

/* PROGRESS BAR */
.progress-bar {
  width: 100%;
  height: 8px;
  background-color: #E5E7EB;
  border-radius: 4px;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: #9DB37C;
  border-radius: 4px;
}
