@use "../variables";


/* FRAME */
.frame-desktop {
  width: 1440px;
  height: 1120px;
  margin: 0 auto;
  background-color: #F5F5E6;
  padding: 20px 70px;
  display: flex;
  flex-direction: column;
}

.main-header {
  width: 100%;
  height: 64px;
  background-color: #CBE4D6;
  display: flex;
  align-items: center;
  padding: 0 72px;
}

/* PAGE WRAPPER */
.history-page {
  display: flex;
  justify-content: center;
  margin-top: 73px;  /* distance from header */
  margin-bottom: 76px; /* distance from footer */
}

/* MAIN CARD */
.history-card {
  width: 1142px;
  height: 691px;
  background: #D4DDA6;
  border-radius: 12px;
  padding: 48px;
  box-sizing: border-box;
}

/* GRID FOR CHARTS */
.charts-grid {
  display: grid;
  grid-template-columns: repeat(2, 420px);
  column-gap: 120px;
  row-gap: 48px;
  justify-content: center;
}

/* CHART CARD */
.chart-card {
  width: 420px;
  height: 300px;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 16px 20px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 18px;
    margin-bottom: 12px;
    color: #2F3E2E;
  }

  canvas {
    width: 100%;
    height: 100%;
    flex: 1;
  }
}

/* CENTERED BOTTOM CHART */
.chart-card.center {
  grid-column: 1 / -1;
  justify-self: center;
}

.main-footer {
  width: 100%;
  min-height: 120px;
  background-color: #CBE4D6;
}