@use "../variables";

/* FRAME */
.frame-desktop {
  width: 1440px;
  height: 1120px;
  margin: 0 auto;
  background-color: #F5F5E6;
  padding: 20px 70px;
  display: flex;
  flex-direction: column;
}

.main-header {
  width: 100%;
  height: 64px;
  background-color: #CBE4D6;
  display: flex;
  align-items: center;
  padding: 0 72px;
}

/* PAGE CONTAINER */
.location-page {
  display: flex;
  justify-content: center;
  margin-top: 68px;    /* distance from header */
  margin-bottom: 68px; /* distance from footer */
}

/* MAP + CONTROLS WRAPPER */
.map-wrapper {
  position: relative;
}

/* MAP */
.map-container {
  width: 1048.28px;
  height: 704px;
  border-radius: 8px;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

/* SIDE CONTROL CARD */
.map-controls {
  position: absolute;
  right: -65px;
  top: 50%;
  transform: translateY(-50%);

  width: 45px;
  height: 151px;
  background: #D4DDA6;
  border-radius: 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;

  button {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

/* FOOTER */
.main-footer {
  width: 100%;
  min-height: 120px;
  background-color: #CBE4D6;
}







