/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  background: #e9f2ec;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #444;
    font-weight: 500;

    &:hover {
      color: #2a7f62;
    }
  }
}

/* MAIN LAYOUT */
.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 30px;
  padding: 30px 40px;
}

/* SIDEBAR */
.sidebar {
  width: 250px;

  background: #d4dda6;
  padding: 24px;
  border-radius: 16px;


  h2 {
    margin-bottom: 20px;
  }

  .filter {
    margin-bottom: 20px;

    label {
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;

      li {
        margin-bottom: 8px;
      }
    }
  }
}

/* CONTENT */
.content {
  h1 {
    margin-bottom: 25px;
  }
}

/* GAME GRID */
.games {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
}

/* CARD */
.card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);

  img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  h3 {
    margin: 10px 0 5px;
  }

  p {
    color: #777;
    font-size: 14px;
  }

  button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #b6d3b0;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      background: #97c19a;
    }
  }
}

/* PAGINATION */
.pagination {
  margin-top: 30px;
  text-align: center;

  span {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    background: #eee;
    border-radius: 8px;
    cursor: pointer;

    &.active {
      background: #b6d3b0;
    }
  }
}

/* FOOTER */
.footer {
  background: #e9f2ec;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
}


.reset-btn {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background-color: #c8ddb0;
  font-weight: bold;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: #b7cf9a;
}
