@use "../variables";


/* FRAME DESKTOP */
.frame-desktop {
  width: 130%;
  min-width: 100vh;
  height: 1120px;
  margin: 0 auto;
  background-color: #F5F5E6;
  display: flex;
  flex-direction: column;
}

.app-body {
  margin: 0;
  background-color: #F5F5E6;
  font-family: 'Abel', sans-serif;
}

.main-header {
  width: 100%;
  height: 64px;
  background-color: #CBE4D6;
  display: flex;
  align-items: center;
  padding: 0 72px;
}

.main-footer {
  width: 100%;
  min-height: 120px;
  background-color: #CBE4D6;
}


/* CONTAINER PRINCIPAL */
.activities-container {
  display: flex;
  justify-content: flex-start;
  gap: 46px; /* spacing avec Boom Box */
  padding: 40px 70px;
  align-items: flex-start;
}

/* CARTE FILTRE GAUCHE */
.filter-card {
  width: 257px;
  min-width: 257px;
  height: 665px;
  background-color: #D4DDA6;
  border-radius: 8px;
  padding: 24px;

  h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  .filter-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 34px;
    margin-bottom: 20px;
    cursor: pointer;

    .dot {
      width: 47px;
      height: 42px;
      border-radius: 50%;
      background-color: #8B5E3C; /* ✅ cercles */
    }

    &.active {
      font-weight: 600;
    }
  }
}

/* GRID DES ACTIVITÉS */
.activities-grid {
  //flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 340px);
  column-gap: 46px; /* spacing horizontal */
  row-gap: 75px;    /* spacing vertical */
  align-self: flex-start;
}

/* CARTE ACTIVITÉ */
.activity-card {
  width: 377px;
  height: auto;
  min-height: 295px;
  background-color: #D4DDA6;
  border-radius: 8px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  //justify-content: space-between;

  img {
    width: 137px;
    height: 137px;
    object-fit: contain;
    align-self: center;
    //margin-top: 0%;
  }

  h4 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 12px;
  }

  p {
    font-size: 14px;
    font-family: Abel, regular;
    line-height: 1.4;
    margin: 8px 0;
  }

  button {
    align-self: flex-end;
    width: 60px;
    height: 44px;
    border-radius: 16px;
    border: none;
    background-color: #B0D193; /* ✅ boutons */
    color: #2F3E2E;
    font-size: 14px;
    font-family: Abel, regular;
    cursor: pointer;

    &:hover {
      filter: brightness(0.95);
    }
  }
}
